@import '_reset';
@import '_vars';
@import '_mixins';

html,
body {
	font: 16px $main-font;
	font-size: 1rem;
	background: $color-background;
}

@import 'elements/_common';
@import 'elements/_cards';
@import 'elements/_forms';


